<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta name="description" content="Yukari Im News Article Evaluation">
            <meta name="keyword" content="News, Article, Evaluation, Analysis, NLP">
            <meta name="author" content="Yukari Im">
        <title>News Article Evaluation</title>
    </head>

    <body>
        <header>
            <div class="">
                <img src="https://img.icons8.com/cotton/64/000000/artificial-intelligence.png" alt="artificial-intelligence"/>
                <p class="app-title">News Article Evaluation</p>
            </div>
            <div class="">
                About
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter URL to analyze...">
                    <input class="button" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <h1>Analysis Results:</h1>
                <div id="results">
                    <p id="score"></p>
                    <p id="agreement"></p>
                    <p id="subjectivity"></p>
                    <p id="confidence"></p>
                    <p id="irony"></p>
                </div>
            </section>
        </main>

        <footer>
            <p>&#9400;Yukari Im</p>
            <a href="https://icons8.com/icon/97384/artificial-intelligence" target="_blank">Artificial Intelligence icon by Icons8</a>
        </footer>

        <script type="text/javascript" src="../../../dist/main.js"></script>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
