@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');

$font-stack: 'Gayathri', sans-serif;

body {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    font-family: $font-stack;
    font-weight: 400;
    font-size: 10px;
    color: #343a40;
}

main {
    flex: 2;
    background: #fff;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
}
